<h1>Student Dashboard</h1>
<h3>Student Name</h3>
<input #name [(ngModel)]="studentName" placeholder="Name" type="text" />
<br>
<h3>Grade</h3>
<input [(ngModel)]="grade" placeholder="Grade" type="text" />
<br> 
<br>
<button (click)="addStudent()" >Add</button>
<div *ngIf="students.length === 0">
    <h2>No students were found.</h2>
</div>
<div *ngIf="students.length>0">
<h1>List</h1>
<ul>
    <li *ngFor="let i of students">
        <span [ngSwitch]="i.grade">
            <span *ngSwitchCase ="'A'">👨‍🎓 {{i.studentName}} - Grade: {{i.grade}} 🟢 Excellent</span>
            <span *ngSwitchCase ="'B'">👨‍🎓 {{i.studentName}} - Grade: {{i.grade}} 🟡  Good</span>
            <span *ngSwitchCase ="'C'">👨‍🎓 {{i.studentName}} - Grade: {{i.grade}} 🔴   Needs Improvement</span>
        </span>
    </li>
</ul>
</div>